{% load static %}

<section class="inner-section">
        <div class="container">
            <div class="row">

            <div class="col-sm-12">
              <h2 class="text-center">Advisors</h2>
            </div>
              {% if advisors %}
                  {% for member in advisors %}
                     <div class="col-sm-6 col-md-6 col-lg-4">
                     <div class="grid-holder">
                    <img src="{{ member.photo_main.url }}" alt="" class="img-fluid img-users">
                     <h3>{{member.name}}</h3>
                    <h4>{{ member.post }}</h4>
                    <p>{{ member.description }}</p>
                    <a href="{{ member.github }}"><i class="fab fa-github"></i></a>
                    <a href="{{ member.linkedin }}"><i class="fab fa-linkedin"></i></a>

                    </div>
                    </div>
                  {% endfor %}
              {% else %}
                  <div class="col-md-12"><p>No Advisor's Yet .</p></div>

              {% endif %}






            </div>
        </div>
      </section>