{% load static %}
 <section class="inner-section">
      <div class="container">
        <div class="wrapper-product-contact">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="">
                <h5 class="wh-th text-center">ThunderBolt Chain values the community support and feedback. <br>We invite you to join us in the community channel!
                </h5>
                <div class="grid-holder-contact">
                  <form action="{% url 'contact' %}" method="post">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="">Name</label>
                      <input type="" class="form-control"  name="Name" aria-describedby="" placeholder="Enter Name">

                    </div>
                    <div class="form-group">
                      <label for="">Email address</label>
                      <input type="email" class="form-control" name="Email" aria-describedby="" placeholder="Enter email">

                    </div>
                    <div class="form-group">
                      <label for="">Mobile</label>
                      <input type="mobile" class="form-control"  name="Mobile" aria-describedby="" placeholder="Enter Mobile (Optional)">

                    </div>
                    <div class="form-group">
                      <label for="">Your Message</label>
                      <textarea type="email" class="form-control"  name="Message" aria-describedby="" placeholder="Enter Message"></textarea>

                    </div>


                    <button type="submit" class="btn btn-white">Submit</button>
                  </form>
                </div>



              </div>
            </div>

          </div>
        </div>
      </div>
    </section>