{% load static %}

<section class="inner-section inner-section-grey community-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8"><h2 class="text-center">Join our community</h2>
            <div class="row justify-content-center">


              <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-telegram"></i> Telegram</a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-telegram"></i> Facebook</a></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-twitter"></i> Twitter</a></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-instagram"></i> Instagram</a></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-bitcoin"></i> Bitcointalk</a></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-reddit"></i> Reddit</a></div>
          </div>
          <h2 class="text-center mt-5">Our Media</h2>
          <div class="row justify-content-center">


            <div class="col-6 col-sm-6 col-md-6 col-lg-4"> <a href="#"><i class="fab fa-youtube"></i> Youtube</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
