{% load static %}

<section class="join-team">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Join our team </h2>
              <p class="lead">We’re hiring blockchain developers and full stack developers.<br> If you are interested, send us an email and tell us more about yourself.
                </p><a href="mailto:swapneel@thunderboltchain.com"  class="btn btn-outline-success  btn-white btn-center btn-apply">Apply </a>
              </div>
            </div>
          </div>
        </section>
