  {% load static %}

   <section class="Services-section">
      <div class="container">
        <h2 class="text-center">ThunderBolt Chain Features </h2>
        <!--  <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua <br>sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua</p> -->
        <div class="row  justify-content-center">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/pass.svg' %}" alt="" class="img-fluid"></span>
              <h3>Universal identity protocol </h3>
              <p>An open source platform to autonomously create proof of ownership of digital self and contents.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/piracy.svg' %}" alt="" class="img-fluid"></span>
              <h3>Anti-piracy platform </h3>
              <p>A side-chain application that would aim to stop piracy from the internet by setting up digital identity.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/document.svg' %}" alt="" class="img-fluid"></span>
              <h3>Digital stamping </h3>
              <p>Create secured digital-stamped digital signatures and securely manage digital documents with time stamps using our platform.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/transaction.svg' %}" alt="" class="img-fluid"></span>
              <h3>Instant transactions </h3>
              <p>On a side chain tree architecture, ThunderBolt Chain can achieve a high throughput and scalability.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/transaction-low.svg' %}" alt="" class="img-fluid"></span>
              <h3>Low cost transactions </h3>
              <p>ThunderBolt Chain would enable the instant transactions at significantly lower fees.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/data-security.svg' %}" alt="" class="img-fluid"></span>
              <h3>Security</h3>
              <p>With proof of stake as consensus mechanism, ThunderBolt Chain(s) operators would even be one of the stakers and delegates in the POS system.
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="grid-holder-center">
              <span class="icon-image"><img src="{% static 'images/code.svg' %}" alt="" class="img-fluid"></span>
              <h3>Platform for developers </h3>
              <p>ThunderBolt Chain’s side chain would help developers and enterprises to massively scale their DAPPs.
              </p>
            </div>
          </div>
          <!--    <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="grid-holder view-holder">
              <a href="services.html">View all Services</a>
            </div>
          </div> -->
        </div>
      </div>
    </section>