{% load static %}

<section class="benefit-section">
      <div class="container">
        <h2 class="text-center">What is ThunderBolt Chain?</h2>
        <p class="lead text-center">What is ThunderBolt Chain?
          ThunderBolt Chain is a leading blockchain based platform that enables universal digital identity built on a side chain which is on an adapted version of plasma with POS. Our side chain would even enable scalable, instant, secure and low cost transactions and setting up proof of ownership, would further enable the techniques to stop piracy from the internet and let you take control & own your digital self & contents.
        </p>
        <a href=""  class="btn btn-outline-success  btn-white btn-center">Read Whitepaper </a>
        <div class="wrapper-product">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="wrapper-ch">
                <h5 class="wh-th">Why ThunderBolt Chain?</h5>
                <!-- <h2></h2> -->
                <p class="lead-product">Technology today is making huge progress, but somehow digital identity, Piracy, Privacy and proof of ownership of digital contents are still big issues. There are not much perpetual and universally acceptable platforms that would solve these problems at a low cost.
                </p>
                <p class="">As per some researches and reports, every year there are losses in billions because of piracy, digital identity and identity fraud. It is even estimated that piracy costed around $37 billion to the film and TV industry in the year 2018.
                </p>
                <p class="">So, we aim to change this whole scenario by developing a decentralised platform that would setup digital identity and which would further help in stopping piracy and digital identity frauds from the internet.
                </p>
                <a href="" class="text-link">Watch Video</a>
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <img src="{% static 'images/product-img.jpg' %}" alt="" class="img-shadow img-fluid">
            </div>
          </div>
        </div>

      </div>
    </section>