  {% load static %}

<section class="partner-section">
      <div class="container">
        <h2 class="text-center">Backed by </h2>
        <div class="row">
            {% if sponsors %}
                  {% for sponsor in sponsors %}
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="media">
                        <img src="{{ sponsor.img.url }}" class="mr-3 media-image" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-3">{{ sponsor.name }}</h5>
                            <p>{{ sponsor.description }}</p><a href="{{ sponsor.link }}" class="text-link ">Visit Website</a>
                        </div>
                        </div>

                        </div>
            {% endfor %}
            {% else %}
                <p>World's Top Tech Company's Are Backing ThunderBoltChain .</p>
            {% endif %}

          </div>
</section>