{% load static %}

<div class="hero-holder">
      <div class="container">
        <div class="row justify-content-center align-items-center">

          <div class="col-sm-4 order-1 order-sm-0 order-md-0  order-lg-0 order-xl-0">
            <h1>Revolutionize digital identity & Privacy</h1>
            <p class="lead">ThunderBolt Chain enables the proof of ownership based on blockchain technology and let you take control of your digital self.</p>
            <a href=""  class="btn btn-outline-success  btn-white">Try our MVP</a>
            <!--  <a  class="btn btn-outline-success  btn-purple" href="product.html"></a> -->
          </div>
          <div class="col-sm-8 order-0 order-sm-1 order-md-1  order-lg-1 order-xl-1">
            <img src="{%  static 'images/bg-banner1.png' %}" alt="Hero Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>