 {% load static %}
 <!-- Mailing Section Subscribe To Our News Letter -->
 <section class="get-in-touch text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <img src="{% static 'images/mailing.svg' %}" alt="" height="150px" class="mb-5">
              <h2>Subscribe to our Mailing List
              </h2>
              <p class="lead">We’ll send you updates about ThunderBoltChain
              </p>
            </div>
            <div class="col-md-6">
              <form action="">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="button-addon2" style="    padding: 21px;">
                  <div class="input-group-append">
                    <button class="btn btn-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
              </form></div>
            </div>
          </div>
        </section>