{% load static %}
 {% if usecases %}
     {% for usecase in usecases %}
        {% if  usecase.id|divisibleby:2 %}

            <section class="inner-section inner-section-grey">
             <div class="container">
                    <div class="wrapper-product">
                      <div class="row">
                           <div class="col-md-12 col-lg-6 col-xl-6">
                          <img src="{{ usecase.uimg.url }}" alt="" class="img-shadow img-fluid">
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                          <div class=""> <h2></h2>
                            <h5 class="wh-th">{{ usecase.title }}</h5>

                            <p class="lead-product">{{ usecase.desc }}</p>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>

         {% else %}
                <section class="inner-section">
             <div class="container">
                    <div class="wrapper-product">
                      <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                          <div class=""> <h2></h2>
                            <h5 class="wh-th">{{ usecase.title }}</h5>

                            <p class="lead-product">{{ usecase.desc }}</p>

                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                          <img src="{{ usecase.uimg.url }}" alt="" class="img-shadow img-fluid">
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
         {% endif %}




     {% endfor %}
     {% else %}
     <div class="inner-section">
         <div class="wrapper-product">
             <div class="container">
                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <h5 class="wh-th">Will Be Updated Soon...</h5>

                            <p class="lead-product">Make Sure To Subscribe To Our Newsletter</p>

                          </div>
                        </div>

                      </div>
                 </div>
                    </div>

                </section>
{% endif %}
